#### Note:
This test connection code is similar to the "upload-data.ipynb" file \
Difference is this does not iterate in chunks and it uploads just 100 lines of the csv.gz file \
If you prefer to use this to import your data, remove the lines limitation of the csv i.e. "nrows=100"

In [2]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [7]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,False,False,False,False
1,public,zones,root,None,True,False,False,False
2,public,green_taxi_data,root,None,True,False,False,False

In [12]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')

C:\Users\lourh\AppData\Local\Temp\ipykernel_824\2667354967.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

In [13]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [14]:
# Data load without Iteration
df.to_sql(name='green_taxi_data', con=engine, index=False, if_exists='replace')
# Changed name from 'yellow_tripdata_data' to be in sync with ingest_data.py

386

In [15]:
query = """
SELECT count(1) FROM green_taxi_data
"""

pd.read_sql(query, con=engine)

    count
0  476386

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

In [ ]:
# Testing question 5 of the week 1
query_question_5 = """
SELECT 
	CAST(lpep_pickup_datetime AS DATE) AS pickup_date,
	z."Zone" AS pickup_location,
	SUM(CAST(t.total_amount AS DECIMAL)) AS total_amount
FROM 
	public.green_taxi_data as t
INNER JOIN public.zones as z
	ON t."PULocationID" = z."LocationID"
WHERE CAST(lpep_pickup_datetime AS DATE)  = '2019-10-18'
	
GROUP BY 
	pickup_date, pickup_location
HAVING	
	SUM(CAST(t.total_amount AS DECIMAL)) > 13000	
ORDER BY total_amount DESC
"""
pd.read_sql(query_question_5, con=engine)

  pickup_date      pickup_location  total_amount
0  2019-10-18    East Harlem North      18686.68
1  2019-10-18    East Harlem South      16797.26
2  2019-10-18  Morningside Heights      13029.79