#### Note:
This test connection code is similar to the "upload-data.ipynb" file \
Difference is this does not iterate in chunks and it uploads just 100 lines of the csv.gz file \
If you prefer to use this to import your data, remove the lines limitation of the csv i.e. "nrows=100"

In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [7]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

C:\Users\lourh\AppData\Local\Temp\ipykernel_22236\2010522994.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

In [20]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
df.to_sql(name='yellow_taxi_data', con=engine, index=False, if_exists='replace')
# Changed name from 'yellow_tripdata_data' to be in sync with ingest_data.py

765

In [22]:
query = """
SELECT count(1) FROM yellow_taxi_data LIMIT 5
"""

pd.read_sql(query, con=engine)

     count
0  1369765

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/